{% extends "base.html" %}
{% block title %}Об авторе{% endblock %}
{% block content %}
{% load user_filters %}
<html>
  <body>
    <h1>Обо мне</h1>
    <p>Автор этого сайта - человек весьма далекий от сферы It.</p>
    <p>Всю сознательную жизнь работал руками, но в какой-то момент понял что развитие вперед остановилось и он давно топчется на месте. Что те задачи, которые коллеги называют сложными и интересными, на самом деле не такие и сложные и не всегда интересные. Плюс стало понятно что работа руками - это хорошо в 20 лет, а когда тебе станет 50, то конкурировать с шустрой молодежью будет довольно сложно.</p>
    <p>Начав перебирать варианты, остановился на It, посчитав что здесь должно быть интереснее и не будет застоя. Почему именно бэкенд? Мне показалось (возможно ошибочно), что во фронтенде меньше логики и больше написания кода по шаблону, в то время как бэкенд - это больше именно работа головой и придумывание чего-то нового. Посмотрим, как оно будет на самом деле. Пока желания все бросить нет, хотя уже довольно сложно)</p>
    
  </body>
 
</html>
{% endblock %}