{% extends "base.html" %}
{% block content %}
{% load user_filters %}
{% load thumbnail %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        <!-- Имя автора -->
                                        {{ author.get_full_name }}
                                    </div>
                                    <div class="h3 text-muted">
                                         <!-- username автора -->
                                         @{{ author }}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: XXX <br />
                                            Подписан: XXX
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                <!-- Количество записей -->
                                                Записей: {{ posts_count }}
                                            </div>
                                    </li>
                            </ul>
                    </div>
            </div>

            <div class="container">
                <h1> Последние обновления на сайте</h1>
                 <!-- Вывод ленты записей -->
                     {% for post in page %}
                       <!-- Вот он, новый include! -->
                         {% include "post_item.html" with post=post %}
                     {% endfor %}
            </div>  

                <!-- Здесь постраничная навигация паджинатора -->
                {% include "paginator.html" %}
     </div>
    </div>
</main>

{% endblock %}